@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "irsansb";
  src: url("../fonts/IranianSansB.ttf");
}
@font-face {
  font-family: "irsans";
  src: url("../fonts/IranianSans.ttf");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
/* Costumize Scrollbar */
::-webkit-scrollbar {
  height: 5px !important;
  width: 8px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px !important; /* Rounded corners */
  background-color: #b8b8b876 !important; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #c9c9c9 !important; /* Darker color on hover */
}

/*Product Swiper */
.product-swiper .swiper-pagination {
  left: 10% !important;
}

.product-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #a0a0a0 !important;
}

/* breadcrumb */
.breadcrumb-container::-webkit-scrollbar-thumb {
  display: none;
}

/* Product Swiper */
.mySwiper .swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 16px;
  border-radius: 5px;
  border: 4px solid rgba(94, 94, 94, 0.842);
  right: 50%;
  top: 100%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  transition: 0.3s;
  z-index: 3;
  opacity: 0;
}

.mySwiper .swiper-slide-thumb-active::after {
  opacity: 1;
}

/* Category Swiper */
.category-swiper .swiper-pagination-bullet {
  border-radius: 4px;
  background-color: #777777;
  height: 6px;
  opacity: 0.7;
  transition: width 0.2s ease-in-out;
  width: 6px;
}
.category-swiper .swiper-pagination-bullet-active {
  background-color: #fff;
  border-radius: 9999px;
  height: 6px;
  opacity: 1;
  transform: translateY(1px);
  width: 16px;
}

/* Dots Loader */
.loader {
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1.5s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 10px 0 #000000a8, -10px 0 #0002;
    background: #000000a8;
  }
  33% {
    box-shadow: 10px 0 #000000a8, -10px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 10px 0 #0002, -10px 0 #000000a8;
    background: #0002;
  }
  100% {
    box-shadow: 10px 0 #0002, -10px 0 #000000a8;
    background: #000000a8;
  }
}

/*Main Loader */

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-grid div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff2d50;
  animation: lds-grid 1.2s linear infinite;
}

/* Adjusting positions for less space */
.lds-grid div:nth-child(1) {
  top: 4px;
  left: 4px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 4px;
  left: 24px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 4px;
  left: 44px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 24px;
  left: 4px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 24px;
  left: 24px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 24px;
  left: 44px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 44px;
  left: 4px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 44px;
  left: 24px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 44px;
  left: 44px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.slider_container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #03d5e4;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #03d5e4;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #777777;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  background-color: #03d5e4;
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #00aaff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #00aaff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* Categories */

.categories_sidebar::-webkit-scrollbar {
  width: 0px !important;
}

/* article */
.hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
